opencv-python==3.3.0.9
numpy
pandas
#glob
#glob2
glob3
requests==2.21.0
scipy
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.6
django-debug-toolbar==2.0
django-heroku==0.3.1
djangorestframework==3.11.0
tensorflow==2.6.4
keras==2.3.1
gunicorn
whitenoise
